= form_for(session, :url => session_path) do |f|
  - if session.errors.any?
    #error_explanation
      %h2
        = pluralize(session.errors.count, "error")
        = t('.prohibited_this_session_from_b')
      %ul
        - session.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit
