= form_for(artist) do |f|
  - if artist.errors.any?
    #error_explanation
      %h2
        = pluralize(artist.errors.count, "error")
        prohibited this artist from being saved:
      %ul
        - artist.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :representation_agreed
    = f.check_box :representation_agreed
  .field
    = f.image_upload_field :image
  .field
    = f.translated_text_area :bio
  .field
    - if artist.google_calendar_token.present?
      
      .calendars
        %p Choose the calendar you want to use for availability
        %p
          = f.select :google_calendar_id, artist.calendars.items.collect { |calendar| [calendar.summary, calendar.id] }
      %p= link_to 'Unlink calendar from artist', artist_path(artist, :artist => {:google_calendar_token => nil}), :method => 'PUT', :data => {:confirm => 'Remove google calendar access?'}
    - elsif artist.persisted?
      = link_to 'Link to calendar', google_calendar_auth_path(artist)
  .actions
    = f.submit
