.translated_text_areas{:class => "#{name}_text_areas #{dom_id f.object}"}
  - [:en, :ja].each do |locale|
    = link_to t(locale), '#', :class => 'locale_link', ':class' => "{active: locale == '#{locale}'}", '@click.prevent' => "locale = '#{locale}'"
  - [:en, :ja].each do |locale|
    .translated_text_area{:class => locale, "v-show" => "locale == '#{locale}'"}

      = f.text_area "#{name}_#{locale}", 'data-attachable_id' => f.object.id, 'data-attachable_type' => f.object.class.name

:coffee
  new Vue
    el: $(".#{dom_id f.object}.#{name}_text_areas:last")[0]
    data:
      locale: #{I18n.locale.to_json}

  $(".#{dom_id f.object}.#{name}_text_areas:last textarea").addClass('has_redactor').redactor($.Redactor.settings)
