.main_section
  .wrap.container-fluid
    .row
      .col-xs-12
        %h1 Thank you so much for your investment and support!
        %p A confirmation has been sent to #{@payment.user.email}.
        %p Your ticket number for #{@payment.fund.name} is <b>#{@payment.formatted_number}</b>
        - if @payment.more_than_average
          %h1 Thanks for beating the average
          %p You can now be listed as official sponsor of this event.
          = form_for @payment do |f|
            = f.image_upload_field :image
            .field
              = f.label :url
              = f.text_field :url
            .field
              = f.label :public
              = f.check_box :public
            .actions
              = f.submit
