!!!
%html
  %head
    :css
      body, form{margin: 0px;}
  %body
    = form_tag uploads_path, multipart: true, id: "upload_form" do
      = hidden_field_tag :retained_id, params[:retained_id]
      = hidden_field_tag :image_id, params[:image_id]
      = hidden_field_tag :geometry, params[:geometry]
      = hidden_field_tag :attachable_id, params[:attachable_id]
      = hidden_field_tag :attachable_type, params[:attachable_type]
      = file_field_tag :image
    :javascript
      //automatically submit the form
      document.getElementById("image").onchange = function() {
        window.parent.document.getElementById("#{params[:image_id]}").src = "#{image_path('loading.gif')}";
        document.getElementById("upload_form").submit();
      };
    - if @image
      :javascript
        //update the retained image field
        window.parent.document.getElementById("#{params[:retained_id]}").value = "#{@retained_image}";
        window.parent.document.getElementById("#{params[:image_id]}").src = "#{@image.thumb(params[:geometry]).url}";
