= form_for(fund) do |f|
  - if fund.errors.any?
    #error_explanation
      %h2
        = pluralize(fund.errors.count, "error")
        = t('.prohibited_this_fund_from_bein')
      %ul
        - fund.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.translated_text_area :description
  .actions
    = f.submit
