.main_section
  .wrap.container-fluid
    .row
      .col-xs-12
        = sanitize @fund.description
        - if @current_user == @fund.user
          = link_to t('.edit'), edit_fund_path(@fund)
- payment = Payment.new(:fund => @fund, :amount => 1000)


.pay_section
  .wrap.container-fluid
    .row
      .col-xs-12
        = form_for payment, :html => {:class => 'purchase_form'} do |f|
          .section.name= t('.be_a_part_of_bfundnameb_html', :fundname => (@fund.name))
          .section.amount
            %label= t('.pay_what_you_want')
            .toggle_button{':class' => '{active: payment.amount == 1000}', '@click' => 'payment.amount = 1000;custom=false'}= t('.¥‎1000')
            .toggle_button{':class' => '{active: payment.amount == 2000}', '@click' => 'payment.amount = 2000;custom=false'}= t('.¥‎2000')
            .toggle_button{':class' => '{active: payment.amount == 5000}', '@click' => 'payment.amount = 5000;custom=false'}= t('.¥‎5000')
            .toggle_button{'v-show' => '!custom', '@click' => 'custom = true'}= t('.custom_amount')
            = f.text_field :amount, 'v-show' => 'custom', 'v-model' => 'payment.amount', :class => 'amount_field'
          .section.distribution
            %label= t('.where_your_money_will_go')
            %p
              = t('.staff_artists_¥mathceilpayment')
            %p
              = t('.charity_¥mathfloorpaymentamoun')
            .with_popup
              %span.dashed= t('.customize_distribution')
              %aside= t('.coming_soon')
          .section.identity
            %label= t('.make_your_contribution_public')
            .toggle_button{':class' => '{active: payment.public}', '@click' => 'payment.public = true'}= t('.yes')
            .toggle_button{':class' => '{active: !payment.public}', '@click' => 'payment.public = false'}= t('.no')
          .section.email
            = f.fields_for :user do |uf|
              %label= t('.email')
              = uf.text_field :email, 'v-model' => 'email', :class => 'email_field'
              %p= t('.we_will_send_a_confirmation_wi')
          .section.payment
            = t('.pay_with_card_pay_with_paypal_')

:coffee
  new Vue
    el: '.purchase_form'
    data:
      custom: false
      payment: #{payment.to_json}
      email: ''
    watch:
      custom: (old, newVal) ->
        $('.amount_field').focus() if old
