!!!5
%html
  %head
    %title= t('.newsoundforjapan')
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .content
      .top_section
        .wrap.container-fluid
          .row
            .col-xs-12
              .hero
                .hero_image
                .features
                  %p.awesome= t('.amazing_sound')
                  %p.pay= t('.pay_what_you_want')
                  %p.ticket= t('.get_tickets')
                  %p.meet= t('.meet_the_artists')
                  %p.charity= t('.support_charity')
                .language_select
      = yield
    .footer
      .wrap.container-fluid
        %p= t('.copyright_2016_new_sound_for_j')
        %p
          = t('.want_to_do_something_similar_i')
          %a(href="mailto:hello@newsoundforjapan.com")= t('.get_in_touch')



    -# = yield
